* {
  box-sizing: border-box;
}

#homepage,
#food-page,
#location-page,
#social-page,
#about-page {
  background: url('../img/wood-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #82b0b0;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: "Delius Swash Caps";
  text-shadow: 1px 2px 10px #3D3D3D;
}

p {
  font-size: 2rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  padding: 10% 0 3%;
}

nav li:hover,
.cart-list li span:hover,
.footer-nav li:hover {
  text-shadow: 0 0 10px #fff;
}

.frontpage-nav,
.carts,
.map-container,
.about-container,
#social-container {
  flex: 1;
}

.main-header {  
  padding-top: 5%;
}

.main-title {
  font-size: 2.25rem;
  padding-bottom: 3%;
}

.sub-title {
  font-family: serif;
  font-size: 1.5rem;
  border-top: 3px solid burlywood;
  padding-top: 2%;
}

.frontpage-nav {
  margin-top: 25%;
}

.twitter-container {
  border: 8px solid burlywood;
}

.nav-container li {
  list-style-type: none;
  text-decoration: underline;
    text-decoration-color: burlywood;
  padding: 10px 15px;
  font-size: 2rem;
}

.footer-nav {
    padding-bottom: 2%;
}

.footer-nav li {
  display: inline;
  padding: 0 15px;
  font-size: 2rem;
}

.subpage-header {
  padding: 50px 0 50px 25px;
  text-align: left;
}

.title-subpages {
  display: inline;
  font-size: 2.25rem;
  border-bottom: 2px solid;
  margin-bottom: 25px;
}

.carts {
  background: url('../img/chalkboard.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Fredericka the Great', cursive;
  margin: auto;
  width: 67%;
  max-width: 760px;
  padding-bottom: 25px;
  border: 15px solid burlywood;
  text-align: center;
}

.cart-title {
  font-size: 3.75rem;
  font-weight: 300;
  text-decoration-line: underline;
}

.cart-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.cart-list li {
  margin-top: 12px;
}

.cart-list li:first-child {
  margin-top: 0;
}

.map-container,
#social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
  border: 15px solid burlywood;
}

.about {
  margin: 15% auto;
  width: 75%;
  border: 2px #82b0b0;
  border-style: solid none;
  padding: 1% 0;
}



/******Media Queries*****/

@media (min-width: 615px) {
  .main-header {  
    padding-top: 10%;
  }
  
  .main-title {
    font-size: 3.5rem;
    padding-bottom: 25px;
  }
  
  .sub-title {
    font-family: serif;
    font-size: 2rem;
    border-top: 3px solid burlywood;
    padding-top: 10px;
  }
  
  .frontpage-nav {
    margin-top: 25%;
  }

  .nav-container li {
    display: inline;
    text-decoration: none;
    padding: 0 15px;
    font-size: 2.75rem;
  }

  nav li:not(:first-child) {
      border-left: 2px solid burlywood;
  }

}

@media (min-width: 920px) {
  .main-header {  
    padding-top: 100px;
  }
  
  .main-title {
    font-size: 4.25rem;
    padding-bottom: 25px;
  }
  
  .sub-title {
    font-family: serif;
    font-size: 2.5rem;
    border-top: 3px solid burlywood;
    padding-top: 10px;
  }
  
  .frontpage-nav {
    margin-top: 25%;
  }
  .nav.container li {
    display: inline;
    padding: 0 15px;
    font-size: 3rem;
  }

}

@media (min-width: 1024px) {
  .main-header {  
    padding-top: 100px;
  }
  
  .main-title {
    font-size: 4.55rem;
    padding-bottom: 25px;
  }
  
  .sub-title {
    font-family: serif;
    font-size: 2.75rem;
    border-top: 3px solid burlywood;
    padding-top: 10px;
  }
  
  .frontpage-nav {
    margin-top: 15%;
  }
  .nav-container li {
    display: inline;
    padding: 0 15px;
    font-size: 3.25rem;
  }
}